/* =============================
   FONTS
   ============================= */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* =============================
   THEME VARIABLES
   ============================= */
:root {
  --deep-blue: #1b3a7a;
  --sky-blue: #3778ff;
  --main-beige: #f2e1c1;
  --rose: #ffbebe;
  --light-beige: #f9f3e6;
}

/* =============================
   RESET + BASE ELEMENTS
   ============================= */
* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

table {
  border-collapse: collapse;
}

body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(
    180deg,
    var(--sky-blue) 0%,
    var(--main-beige) 27.4%
  );
  color: black;
  font-size: 14px;
}

body > table {
  font-size: 14px;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  line-height: 1;
  font-size: 24px;
}

.quote {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
}

#nav,
.header,
.footer,
body > table > tbody > tr > td,
div > div {
  padding: 16px;
}

/* =============================
   LAYOUT: AREAS
   ============================= */
body {
  overflow-x: hidden;
  position: relative;
}

/* =============================
   HEADER
   ============================= */

#company-heading {
  padding: 24px 0 16px 96px;
}

#company-heading img {
  height: 100px;
  width: 100px;
}

.heading-right-padding {
  padding-right: 96px;
}

/* =============================
   MAIN AREA
   ============================= */

#additional {
  background-color: var(--light-beige);
  border-radius: 16px;
}

#main-description {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding-bottom: 16px;
}
.main-part {
  background-color: var(--deep-blue);
}

#description {
  color: var(--rose);
  padding: 8px 0 8px 16px;
}

/* =============================
   NAVIGATION
   ============================= */
#nav {
  padding: 16px;
}

#nav ul {
  padding-top: 33%;
  list-style: none;
}

#nav ul li {
  margin-bottom: 2rem;
  padding-left: 55%;
}

#nav a {
  text-decoration: none;
  color: var(--deep-blue);
}

#active-page {
  text-decoration: underline;
  color: var(--deep-blue);
}

#overlay {
  position: absolute;
  top: -480px;
  right: -200px;
  width: 553px;
  height: 910px;
  transform: rotate(-64.151deg);
  aspect-ratio: 48/79;
  filter: blur(4px);
}

#nav li {
  z-index: 10;
}

#nav li:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

/* =============================
   FOOTER
   ============================= */
.footer {
  color: white;
  background-color: var(--deep-blue);
  padding: 16px;
  vertical-align: middle;
}

.footer table {
  color: white;
}

#footer-content {
  display: table;
  vertical-align: middle;
}

#footer-content p {
  height: 100%;
}

#footer-content * {
  display: inline-block;
}

.social-icon {
  width: 48px;
  height: 48px;
  filter: invert(1);
}

.social-icon:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

#explore-more {
  text-align: right;
  font-style: italic;
  text-decoration: underline;
  color: white;
}

#main-content {
  width: 100%;
  min-width: 220px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  border: none;
  display: table;
  table-layout: fixed;
}
#main-content > div,
#main-content > td {
  display: table-cell;
  vertical-align: top;
  padding: 8px;
}
#main-content img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 100%;
  margin: 0 auto;
}

#read-more {
  display: block;
  font-weight: 700;
}
